<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Video_Player.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <Video_Player.Properties.Settings>
            <setting name="btnArabic" serializeAs="String">
                <value>عربى</value>
            </setting>
            <setting name="btnEnglish" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="btnEMovie1" serializeAs="String">
                <value>Video 1</value>
            </setting>
            <setting name="btnEMovie2" serializeAs="String">
                <value>Video 2</value>
            </setting>
            <setting name="btnEMovie3" serializeAs="String">
                <value>Video 3</value>
            </setting>
            <setting name="btnEMovie4" serializeAs="String">
                <value>Video 4</value>
            </setting>
            <setting name="btnEMovie5" serializeAs="String">
                <value>Video 5</value>
            </setting>
            <setting name="btnEMovie6" serializeAs="String">
                <value>Video 6</value>
            </setting>
            <setting name="btnEMovie7" serializeAs="String">
                <value>Video 7</value>
            </setting>
            <setting name="btnEMovie8" serializeAs="String">
                <value>Video 8</value>
            </setting>
            <setting name="btnEMovie9" serializeAs="String">
                <value>Video 9</value>
            </setting>
            <setting name="btnEMovie10" serializeAs="String">
                <value>Video 10</value>
            </setting>
            <setting name="btnEMovie11" serializeAs="String">
                <value>Video 11</value>
            </setting>
            <setting name="btnEMovie12" serializeAs="String">
                <value>Video 12</value>
            </setting>
            <setting name="btnAMovie1" serializeAs="String">
                <value>الفيلم 1</value>
            </setting>
            <setting name="btnAMovie2" serializeAs="String">
                <value>الفيلم 2</value>
            </setting>
            <setting name="btnAMovie3" serializeAs="String">
                <value>الفيلم 3</value>
            </setting>
            <setting name="btnAMovie4" serializeAs="String">
                <value>الفيلم 4</value>
            </setting>
            <setting name="btnAMovie5" serializeAs="String">
                <value>الفيلم 5</value>
            </setting>
            <setting name="btnAMovie6" serializeAs="String">
                <value>الفيلم 6</value>
            </setting>
            <setting name="btnAMovie7" serializeAs="String">
                <value>الفيلم 7</value>
            </setting>
            <setting name="btnAMovie8" serializeAs="String">
                <value>الفيلم 8</value>
            </setting>
            <setting name="btnAMovie9" serializeAs="String">
                <value>الفيلم 9</value>
            </setting>
            <setting name="btnAMovie10" serializeAs="String">
                <value>الفيلم 10</value>
            </setting>
            <setting name="btnAMovie11" serializeAs="String">
                <value>الفيلم 11</value>
            </setting>
            <setting name="btnAMovie12" serializeAs="String">
                <value>الفيلم 12</value>
            </setting>
            <setting name="btnEFont1" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="btnAFont1" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="btnEColor1" serializeAs="String">
                <value>white</value>
            </setting>
            <setting name="btnAColor1" serializeAs="String">
                <value>white</value>
            </setting>
            <setting name="pageInfo" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="Movie1E" serializeAs="String">
                <value>Test.mp4</value>
            </setting>
            <setting name="Movie2E" serializeAs="String">
                <value>Test.mp4</value>
            </setting>
            <setting name="Movie3E" serializeAs="String">
                <value>Test.mp4</value>
            </setting>
            <setting name="Movie4E" serializeAs="String">
                <value>Test.mp4</value>
            </setting>
            <setting name="Movie5E" serializeAs="String">
                <value>Test.mp4</value>
            </setting>
            <setting name="Movie6E" serializeAs="String">
                <value>Test.mp4</value>
            </setting>
            <setting name="Movie7E" serializeAs="String">
                <value>Test.mp4</value>
            </setting>
            <setting name="Movie8E" serializeAs="String">
                <value>Test.mp4</value>
            </setting>
            <setting name="Movie9E" serializeAs="String">
                <value>Test.mp4</value>
            </setting>
            <setting name="Movie10E" serializeAs="String">
                <value>Test.mp4</value>
            </setting>
            <setting name="Movie11E" serializeAs="String">
                <value>Test.mp4</value>
            </setting>
            <setting name="Movie12E" serializeAs="String">
                <value>Test.mp4</value>
            </setting>
            <setting name="Movie1A" serializeAs="String">
                <value>Test.mp4</value>
            </setting>
            <setting name="Movie2A" serializeAs="String">
                <value>Test.mp4</value>
            </setting>
            <setting name="Movie3A" serializeAs="String">
                <value>Test.mp4</value>
            </setting>
            <setting name="Movie4A" serializeAs="String">
                <value>Test.mp4</value>
            </setting>
            <setting name="Movie5A" serializeAs="String">
                <value>Test.mp4</value>
            </setting>
            <setting name="Movie6A" serializeAs="String">
                <value>Test.mp4</value>
            </setting>
            <setting name="Movie7A" serializeAs="String">
                <value>Test.mp4</value>
            </setting>
            <setting name="Movie8A" serializeAs="String">
                <value>Test.mp4</value>
            </setting>
            <setting name="Movie9A" serializeAs="String">
                <value>Test.mp4</value>
            </setting>
            <setting name="Movie10A" serializeAs="String">
                <value>Test.mp4</value>
            </setting>
            <setting name="Movie11A" serializeAs="String">
                <value>Test.mp4</value>
            </setting>
            <setting name="Movie12A" serializeAs="String">
                <value>Test.mp4</value>
            </setting>
            <setting name="url" serializeAs="String">
                <value>Test.mp4</value>
            </setting>
            <setting name="vA1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="vA2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="vA3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="vA4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="vA5" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="vA6" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="vA7" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="vA8" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="vA9" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="vA10" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="vA11" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="vA12" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="vE1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="vE2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="vE3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="vE4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="vE5" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="vE6" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="vE7" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="vE8" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="vE9" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="vE10" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="vE11" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="vE12" serializeAs="String">
                <value>True</value>
            </setting>
        </Video_Player.Properties.Settings>
    </userSettings>
</configuration>